body {

}

/* HEADER */

h1 {
	margin: none;
}

#header-nav {
	background-color: #483024;
	margin: none;
}

.navbar {
	margin: none;
}

.navbar-brand {
	text-align: left;
}

.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: none;
	text-decoration-style: none;
	text-decoration-color: pink;
}

.navbar-brand h1 {
	text-shadow: 1px 1px 1px #222;
	margin-bottom: 0;
	margin-top: 0;
	line-height: .75;
}

#nav-list {
	margin-top: 0;
	margin-bottom: 0;
	border: solid black 1px;
}

#nav-list a {
	background-color: pink;
	text-align: center;
	color: black;
	outline: solid black 1px;
}

#nav-list a:hover{
	background-color: black;
	color: white;
}




/* MAIN CONTENT */
body h2{
	margin-bottom: 30px;

}

#main-content p {
	background-color: pink;
	padding: 20px;
}


